Source: erzvaq
Section: utils
Priority: extra
Maintainer: Jakub Wilk <jwilk@jwilk.net>
Build-Depends: perl, debhelper (>= 7)
Standards-Version: 3.8.0
Bugs: mailto:jwilk@jwilk.net

Package: erzvaq
Architecture: all
Depends: remind, ${perl:Depends}, libtimedate-perl
Description: a remind wrapper
 erzvaq is a user-friendly wrapper around remind, a sophisticated
 reminder service.
