Source: erzvaq
Section: utils
Priority: optional
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: perl, debhelper (>= 5)
Standards-Version: 3.7.2
Bugs: mailto:ubanus@users.sf.net

Package: erzvaq
Architecture: any
Depends: remind, ${perl:Depends}, libtimedate-perl, libc6
Description: a reminder wrapper
