Source: erzvaq
Section: utils
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: perl, debhelper (>= 5)
Standards-Version: 3.8.0
Bugs: mailto:ubanus@users.sf.net

Package: erzvaq
Architecture: all
Depends: remind, ${perl:Depends}, libtimedate-perl
Description: a reminder wrapper
 erzvaq is a user-friendly wrapper around remind, a sophisticated
 reminder service.
