#!/usr/bin/make -f

configure:

build: erzvaq.1

erzvaq.1: erzvaq
	pod2man -c 'erzvaq manual' $(<) > $(@)

clean:
	dh clean
	$(RM) erzvaq.1

install: build
	dh install --until dh_install
	dh_install erzvaq usr/bin/
	dh_installman erzvaq.1
	dh install --remaining

binary-indep: build install
	dh binary-indep

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

# vim:ts=4 sw=4 noet
